In [11]:
from datetime import datetime

In [12]:
start = datetime.now()

In [13]:
elt = datetime.now()-start

In [17]:
print(elt.total_seconds())

8.496096

In [18]:
import common.connector_db as db

In [20]:
query = '''

SELECT A.DATE, CONCAT(B.STOCKCODE, '_', B.STOCKNAME) AS  STOCKNAME
        , CLOSE, P1, MC, BBP, BBW, PSMAR5 AS PMA5, PSMAR20 AS PMA20, PSMAR60 AS PMA60, PSMAR120 AS PMA120, VSMAR5 AS VMA5, VSMAR20 AS VMA20, VSMAR60 AS VMA60, VSMAR120 AS VMA120, PS5, L2BE, L1BE, PRO1, PRO3, PRO5, PRO10, PRH1, PRH3, PRH5, PRH10
        
        
        FROM jazzdb.T_STOCK_SND_ANALYSIS_RESULT_TEMP A
        JOIN jazzdb.T_STOCK_CODE_MGMT B USING (STOCKCODE)
        LEFT JOIN jazzdb.T_STOCK_SND_ANALYSIS_LONGTERM D USING (STOCKCODE, DATE)
        LEFT JOIN jazzdb.T_STOCK_BB_EVENT E ON (A.STOCKCODE = E.STOCKCODE AND A.DATE = E.DATE)
        #=========================================================================
        LEFT JOIN (

                    SELECT STOCKCODE, EPSC, BPS, ROE
                    FROM jazzdb.T_STOCK_FINAN E
                    WHERE 1=1
                    AND DATE = '2103'
                    AND TYPE = 'C'

        )F ON (A.STOCKCODE = F.STOCKCODE)
        LEFT JOIN jazzdb.T_STOCK_BB I ON (A.STOCKCODE = I.STOCKCODE AND A.DATE = I.DATE)
        LEFT JOIN jazzdb.T_STOCK_MC J ON (A.STOCKCODE = J.STOCKCODE AND A.DATE = J.DATE)
        LEFT JOIN jazzdb.T_STOCK_DAY_SMAR K ON (A.STOCKCODE = K.STOCKCODE AND A.DATE = K.DATE)        
        LEFT JOIN jazzdb.T_STOCK_SHARES_CIRCRATE M ON (A.STOCKCODE = M.STOCKCODE AND A.DATE = M.DATE)
        LEFT JOIN jazzdb.T_STOCK_FUTURE_PRICE N ON (A.STOCKCODE = N.STOCKCODE AND A.DATE = N.DATE)
        
        WHERE 1=1
        AND A.DATE BETWEEN "2021-05-01" AND "2021-06-30"
                AND VSMAR5 > 1
        AND BBW < '0.11'
        AND PS5 < 0
        AND L2BE = 'MU'
        AND L1BE = 'UU'
        AND MC > 1
        ORDER BY A.DATE DESC

'''

df = db.selectpd(query)

print(df)

In [26]:
df.to_dict(orient="records")

df.columns.tolist()

['DATE',
 'STOCKNAME',
 'CLOSE',
 'P1',
 'MC',
 'BBP',
 'BBW',
 'PMA5',
 'PMA20',
 'PMA60',
 'PMA120',
 'VMA5',
 'VMA20',
 'VMA60',
 'VMA120',
 'PS5',
 'L2BE',
 'L1BE',
 'PRO1',
 'PRO3',
 'PRO5',
 'PRO10',
 'PRH1',
 'PRH3',
 'PRH5',
 'PRH10']

In [28]:
df['DATE'].drop_duplicates().tolist()

['2021-06-30',
 '2021-06-29',
 '2021-06-28',
 '2021-06-25',
 '2021-06-24',
 '2021-06-23',
 '2021-06-22',
 '2021-06-21',
 '2021-06-18',
 '2021-06-17',
 '2021-06-16',
 '2021-06-15',
 '2021-06-14',
 '2021-06-11',
 '2021-06-10',
 '2021-06-09',
 '2021-06-08',
 '2021-06-07',
 '2021-06-04',
 '2021-06-03',
 '2021-06-02',
 '2021-06-01',
 '2021-05-31',
 '2021-05-28',
 '2021-05-27',
 '2021-05-26',
 '2021-05-25',
 '2021-05-24',
 '2021-05-18',
 '2021-05-17',
 '2021-05-14',
 '2021-05-13',
 '2021-05-12',
 '2021-05-11',
 '2021-05-10',
 '2021-05-07',
 '2021-05-06',
 '2021-05-03']